/* CSS HOME */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

/* ca c'est pour la home page */
.backGround {
    position: relative;
    margin-bottom: 217px;
}

.backGround::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background: url(Images/gif/4NB4.gif) center center no-repeat fixed;
    background-size: cover;
    filter: blur(20px);
    z-index: -1;
    /* Place l'arrière-plan flou en dessous du contenu */
}

/* -------AJOUT DE NAVBAR FIXED------ */

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.322);

}

nav li,
a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer h2 {
    font-size: 2em;
    color: rgb(175, 175, 175);
}

.profilPic {
    width: 600px;
    margin-top: 60px;
}

/* JS CLASSLIST */

.navOver {
    background-color: rgba(128, 128, 128, 0.161);
    transition: 300ms;
}

.aOver:hover {
    color: purple;
    transition: 300ms;
}


/* ANNIMATION DE TEXTE */

#animatedTitle {
    margin: 10px;
    font-size: 3em;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
}

#animatedTitle{
    animation: 1s ease pulse;
    border-right: 1px solid white;
}


/* @keyframes pulse {
    /* 0%, 49% {
      border-right: 1px solid transparent;
    }
    50%, 99% {
        border-right: 1px solid white;
    }
    100%{
        border-right: 1px solid transparent;
    } */
  /* } */ 



  /* CSSABOUTME */

.containabout{
 
    margin-bottom: 600px;
    gap: 60%;
    display: flex;
    flex-direction: column;
    height: 350px;

}
  #title {

  padding-top: 20px;
  padding-left: 20px;
}

.image {

    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    justify-content: center;
    
}

#text {
    padding-left: 7%;
    color: white;
    font-size: 19px;
    width: 718px;
    font-size: large;
   font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#bang {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   


}

.logo {
    background-color: rgba(38, 44, 54, 0.7);
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-right: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 10%;
    border-radius: 5%;
    
}
.imgabout{
}
#bleu {
    padding-left: 16px;
    margin-bottom: 30px;
    
}

#orange {
    padding-left: 10px;
}

#jaune {
    padding-left: 9px;
}

/* CSSEXPERIENCE */

.allcontain{
    
    display: flex;
    flex-direction: column;
    gap: 90px;
   background-image: url(/image/R.png);
    width: 100%;
    height: 1080px;
    
}

.containtitre{
    padding-top: 20px;
    padding-left: 20px;
    width: 335px;
    height: 110px;
}


.columncontain{
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 5%;
   width: 100%;

}

.rowcontain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;

}

.txtexp{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 495px;
    margin: 0;
    padding: 0;
    display: flex;
}
.pimgcontain{
    display: flex;
    align-items: center;
    gap: 15%;

}
.larian{
    display: flex;
    width: 223px;
    justify-content: center;
    align-items: center;
}
.larianitem{
    width: 134px;
    height: 201px;
}

.logocontain{
    background-color: rgb(31, 38, 49);
    width: 292px;
    height: 81px;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.logoexp{
    width: 60px;
    height: 60px;
}

/* CSSPROJET */
.containprojet{
    margin-bottom: 50px ;
    height: 920px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}


h2 {
    color: white;
    display: flex;
    padding-left: 7%;

}

.parent {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    }

    .fliprojet {
        perspective: 1000px;
        width: 15%;
        height: 500px;
        position: relative;
      }
    
      .fliprojet .interieur {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
      }
    
      .fliprojet:hover .interieur {
        transform: rotateY(180deg);
      }
    
      .fliprojet .devant,
      .fliprojet .derriere {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 5%;
      }
    
      .fliprojet .derriere {
        transform: rotateY(180deg);
      }
.devant{

}
.derriere{
    background-color: blueviolet;
}
#pr1 .devant{
    background-image: url(/Images/chat\ 1.jpg);
    background-size: contain;
}
#pr2 .devant{
    background-image: url(/Images/chat2.jpg);
    background-size: contain;
}
#pr3 .devant{
    background-image: url(/Images/chat3.jpg);
    background-size: contain;
}
#pr4 .devant{
    background-image: url(/Images/chat\ 4.jpg);
    background-size: contain;
}

/* CSSCONTACT */
.containcontact{
    height: 970px;
    color: white;
    display: flex;
    flex-direction: column;
 
    gap: 7%;
}
.ImgTitre{
    padding-left: 20px;
    padding-top: 20px;
}

.BienCon{
    /* background-color: aqua; */
    padding-left: 7%;
   font-size: large;
   font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 80%;
}

.Nomasu{
   display: flex;
   flex-direction: column;
    width: 30%;
    height: 400px;

    padding-left: 7%;
    justify-content: center;
}
.renseignement{
    height: 40px;
}
.textlab{
 
    width: 35%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   padding-top: 1.5%;
}

#Msg{

    height: 250px;
    width: 100%;
}

label{
 
    font-weight: bold;
    font-size: large;
}
.bouton{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}
button{
    font-size: large;
    font-family: 'Roboto', sans-serif;
     font-weight: bold;
    border-radius: 2.2rem;
    width: 20%;
    height: 40px;

}

.reseaux{
    display: flex;
    padding-left: 7%;
}

form{

    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    width: 80%;
    height: 20px;
}

textarea{
    width: 35%;
}

#git{
    background-color: black;
}
