* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: black;
}

/* ca c'est pour la home page */
.backGround {
    position: relative;
}

.backGround::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background: url(Images/gif/4NB4.gif) center center no-repeat fixed;
    background-size: cover;
    filter: blur(20px);
    z-index: -1;
    /* Place l'arrière-plan flou en dessous du contenu */
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.322);

}

nav li,
a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer h2 {
    font-size: 2em;
    color: rgb(175, 175, 175);
}

.profilPic {
    width: 600px;
    margin-top: 60px;
}

/* JS CLASSLIST */

.navOver {
    background-color: black;
}

.aOver:hover {
    color: purple;
    transition: 300ms;
}




#animatedTitle {
    margin: 10px;
    font-size: 3em;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
}